
// * {border: 1px solid red;}
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    article{
        width: 40vw;
    }
    #photo{    
        align-self:flex-start;
        height: 20vw;
        margin: 4rem 0 0 2rem;
    }
}

h3{
    display: flex;
    .large-btn{
        border: 1px solid rgb(255, 255, 255);
        border-radius: 5%;
        padding: 10px;
        display: block;
        background-color: rgba(170, 170, 170, 0.496);
    }
    .large-btn:hover{
      border: 1px solid white;
      background-color:  white;
      padding: 1em;
    }


}









/* On screens that are 900px wide or less, the background color is blue */
@media screen and (max-width: 900px) {
    main{
        flex-direction: column;
        align-items: center;
        article{
            width: 80vw;
        }
        #photo{
            align-self: center;
            height: 100%;
            width: 30vw;
            margin: 2rem 0 0 0;
        }
    }

}


/* On screens that are 550px wide or less, the background color is olive */
@media screen and (max-width: 550px) {
    article{
        min-width: 100%;
        // padding: 0 10px 0 10px;
    }
    #photo{
        align-self: center;
        height: 100%;
        width: 30vw;
        margin: 2rem 0 0 0;
    }


}
