


// *{
//     border: 1px solid red
// }


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin: 0 0 100px 0;
}


article{
    display: flex;
    flex-direction: column;
    max-width: 750px;
    margin: 0 20vw 0 20vw;
    .title-image{ 
        margin: 20px 0 20px 0;
        width: auto;
        height: 20vw;
        object-fit:cover;
    }
    .publish-date{ 
        margin: 0 0 2em 0;
    }
}



// screens 900px wide or less
@media screen and (max-width: 900px) { 
    
    article{
        margin: 0 10vw 0 10vw;
        .title-image {
            width: auto;
            height: 50vw;
            object-fit:cover;
        }
        .title, .publish-date, .main-text{
            padding: 0 10px;
        }
    }
}


// screens 500px wide or less
@media screen and (max-width: 550px) { 

}




