


// *{
//     border: 1px solid red
// }


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 100px 0;
}


article{
    display: flex;
    flex-direction: column;
    max-width: 750px;
    margin: 0 20vw 0 20vw;
    .title-image{ 
        height: 20vw;
        object-fit:cover;
    }
    // .title{
    //     font-size: 3rem;
    // }
    .publish-date{ 
        // font-size: 1rem;
        margin: 0 0 1em 0;
    }
    .main-text{
        // font-size: 1rem;
    }
}



// screens 900px wide or less
@media screen and (max-width: 900px) {
    article{
        margin: 0 0 40px 0;
        .title-image {
            width: auto;
            height: 50vw;
            object-fit:cover;
        }
        .title, .publish-date, .main-text{
            padding: 0 10px;
        }
    }
}


// screens 500px wide or less
@media screen and (max-width: 550px) { 
    article{
        // .title{
        //     font-size: 2rem;
        // }
        .publish-date{
            // font-size: 0.75rem;
        }
    }
    
}




